*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outer{
    height: 100vh;
    width: 100vh;
    background: linear-gradient(to bottom right ,#000000 ,#4d3030);
    display: flex;
    justify-content: center;
}
.nav{
    width: 100vh;
    height: 40px;
    background-color: burlywood;
    border: 2px solid black;
    
    
}